<div class="btn-group">
  <a class="btn btn-default glyphicon glyphicon-edit" href="{{req_path path "edit"}}"></a>
  <a class="btn btn-default glyphicon glyphicon-trash" href="{{req_path path "res-delete"}}"></a>
</div>
