<!DOCTYPE html>
<html lang="en">

<head>
  {{include "." "web/page/admin" "head"}}
</head>

<body>
  <div class="container">
    hi there 
    <a href="/content/sites.x-list">Page Admin</a>
    <a href="/content/blueprints.x-res-list">Blue Prints</a>
  </div>
</body>

</html>
