          <h5>Title</h5>
          <form class="form-inline" method="post" enctype="multipart/form-data" action="{{R.PATH}}/_content.md">
              <input type="hidden" name=":forward" value="{{R.REF_URL}}">
         
              <textarea style="width:100%;min-height:300px;" autocorrect="off" autocapitalize="none" autocomplete="off" autofocus="on" spellcheck="false" name="_content">
{{include-safe "_content.md" "text"}}</textarea>
          </div>
          <input type="hidden" name="_rt" value="resource/content"></input>

              <button class="form-control btn btn-success" type="submit">
                <span class="glyphicon glyphicon-plus"></span>
              </button>
          </form>
