<div class="btn-group btn-group-sm">
  <a class="btn btn-default" href="{{req_path R.PATH "create"}}"><span class="glyphicon glyphicon-plus"></span> Create</a>
  <a class="btn btn-default" href="{{req_path R.PATH "edit"}}"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
</div>
