<div class="btn-group btn-group-xs">
  <a class="btn btn-default btn-default glyphicon glyphicon-pencil" href="{{req_path path "list"}}"></a>
</div>

{{include "." "resource/node" "res-list-actions"}}
